@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap");
body {
  overflow-x: hidden; }

.arka {
  border-radius: 36% 64% 51% 49%/30% 42% 58% 70%;
  width: 80vh;
  height: 80vh;
  position: absolute;
  background: rgba(88, 88, 88, 0.07);
  left: -20vmin;
  top: -20vmin;
  animation-name: spin;
  animation-duration: 6500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: -1;
  will-change: border-radius, transform;
  transform-origin: 55% 55%;
  pointer-events: none; }

.sagUst {
  width: 250px;
  height: 250px;
  position: fixed;
  top: 0;
  white-space: nowrap;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-family: 'Otomanopee One', sans-serif;
  z-index: -1;
  font-size: 200px;
  opacity: 0.02;
  font-weight: bold;
  transition: all 300ms; }

.kunye .kunyeTitle {
  width: 100%;
  margin-bottom: 50px; }
  .kunye .kunyeTitle .ktitle {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold; }
.kunye .icerik, .kunye .altsunucuicerik {
  display: flex;
  justify-content: center; }
  .kunye .icerik ul, .kunye .altsunucuicerik ul {
    margin: 0;
    padding: 10px 0;
    width: 100%; }
    .kunye .icerik ul li, .kunye .altsunucuicerik ul li {
      list-style: none;
      padding: 0;
      margin-bottom: 25px; }
      .kunye .icerik ul li .kunyeBaslik, .kunye .altsunucuicerik ul li .kunyeBaslik {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        margin-bottom: 25px;
        display: flex;
        justify-content: center;
        transition: all 300ms; }
        .kunye .icerik ul li .kunyeBaslik span, .kunye .altsunucuicerik ul li .kunyeBaslik span {
          color: #da3d3d;
          font-family: 'Montserrat', sans-serif; }
      .kunye .icerik ul li .kunyeBaslik:hover, .kunye .altsunucuicerik ul li .kunyeBaslik:hover {
        border-bottom: 1px solid rgba(255, 255, 255, 0.76); }
      .kunye .icerik ul li .icerik span, .kunye .altsunucuicerik ul li .icerik span {
        font-family: 'Montserrat', sans-serif;
        font-size: 15px; }
.kunye .kunyeAlt .col-12 .kunyeTitle {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px; }
  .kunye .kunyeAlt .col-12 .kunyeTitle .ktitle {
    display: flex;
    justify-content: center;
    font-weight: bold; }
.kunye .kunyeAlt .kunyeAltcol ul {
  margin: 0;
  padding: 15px 0;
  width: 100%; }
  .kunye .kunyeAlt .kunyeAltcol ul li {
    list-style: none;
    padding: 0;
    margin-bottom: 25px; }
    .kunye .kunyeAlt .kunyeAltcol ul li .kunyeAltBaslik {
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      margin-bottom: 25px;
      font-family: 'Montserrat', sans-serif;
      display: flex;
      justify-content: center;
      transition: all 300ms; }
      .kunye .kunyeAlt .kunyeAltcol ul li .kunyeAltBaslik span {
        color: #da3d3d; }
    .kunye .kunyeAlt .kunyeAltcol ul li .kunyeAltBaslik:hover {
      border-bottom: 1px solid rgba(255, 255, 255, 0.788); }
    .kunye .kunyeAlt .kunyeAltcol ul li .alticerik span {
      display: flex;
      justify-content: center;
      font-size: 15px;
      font-family: 'Montserrat', sans-serif; }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

/*# sourceMappingURL=kunye.css.map */
